@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto+Slab:wght@100;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
}

.header {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  margin-left: 20px;
}

.logo h1 {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: orange;
  border: 1px solid orange;
}

.logo h1 h2 {
  font-size: 2rem;
  padding-right: 10px;
  padding-left: 10px;
}

.logo h1 span {
  background: orange;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header img {
  width: 80px;
  height: 60px;
  margin-left: 20px;
}

.hero-sect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.main-menu {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.main-menu .bar:nth-child(1) {
  width: 20px;
}

.main-menu .bar:nth-child(3) {
  width: 20px;
}

.main-menu:hover .bar:nth-child(1) {
  width: 30px;
}

.main-menu:hover .bar:nth-child(3) {
  width: 30px;
}

.main-menu .bar {
  width: 30px;
  height: 3px;
  background: inherit;
  transition: 0.3s;
}

.hero-sect h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.hero-sect h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: orange;
  transition: 0.3s;
}

.hero-sect .arrow-down {
  font-size: 5rem;
  position: absolute;
  bottom: 50px;
  animation: animate 1s infinite linear;
}

@keyframes animate {
  50% {
    transform: translateY(20px);
  }
}

.theme-switch {
  width: 100px;
  height: 50px;
  position: fixed;
  top: calc(50% - 25px);
  right: 20px;
  display: flex;
  border: 1px solid orange;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.theme-switch div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch div i {
  font-size: 1.2rem;
}

.mobile-menu {
  width: 100%;
  height: 80vh;
  background: #eee;
  position: fixed;
  top: 0;
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu-on {
  max-height: 60vh;
  width: 100%;
  height: 80vh;
  position: fixed;
  top: 0;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.541);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.active,
.not-active {
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.active {
  color: transparent;
  -webkit-text-stroke: 1px orange;
}

.close-btn {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .hero-sect h1 {
    font-size: 2rem;
  }

  .hero-sect h2 {
    font-size: 2rem;
    color: orange;
    -webkit-text-stroke: 0;
  }

  .theme-switch {
    top: 70vh;
  }

  .logo h1 h2 {
    font-size: 1rem;
  }
  .logo h1 span {
    font-size: 1rem;
  }
}
