@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto+Slab:wght@100;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Philosopher";
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 80px;
  height: 60px;
  margin-left: 20px;
}

.hero-sect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.main-menu .bar:nth-child(1) {
  transform: translateX(10px);
}

.main-menu .bar:nth-child(3) {
  transform: translateX(10px);
}

.main-menu:hover .bar:nth-child(1) {
  transform: translateX(0);
}

.main-menu:hover .bar:nth-child(3) {
  transform: translateX(0);
}

.main-menu .bar {
  width: 30px;
  height: 3px;
  background: inherit;
  transition: 0.3s;
}

.hero-sect h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.hero-sect h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: transparent;
  transition: 0.3s;
}

.hero-sect .arrow-down {
  font-size: 5rem;
  position: absolute;
  bottom: 50px;
  animation: animate 1s infinite linear;
}

@keyframes animate {
  50% {
    transform: translateY(20px);
  }
}

.theme-switch {
  width: 100px;
  height: 50px;
  position: fixed;
  top: calc(50% - 25px);
  right: 20px;
  display: flex;
  border: 1px solid orange;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.theme-switch div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch div i {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .hero-sect h1 {
    font-size: 2.5rem;
  }

  .hero-sect h2 {
    font-size: 2rem;
  }

  .theme-switch {
    top: 90vh;
  }
}
